
    <div class="container">
        <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of dataArr">
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.title}}</td>
        <td>{{obj.description}}</td>
        <td>{{obj.price}}</td>
        <td>{{obj.image}}</td>
        <td>
        <div class="btn-group">
      <a class="btn btn-warning" href="" title=" Delete">Edit</a>
      <a class="btn btn-danger" href="" title="Edit">Delete</a>
        </div>
       </td>
      </tr>
    </tbody>
  </table>
</div>